.main-content {
    height: calc(100dvh - 5rem - 0.5pt);

    display: grid;
    grid-template-columns: 1fr 7fr;

    overflow: hidden;
}

.add-blocks-panel-container {
    background-color: #010409;
    border-right: #21262D solid 0.5pt;
    overflow: hidden;
}

.add-blocks-panel {
    height: 100%;
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 1rem;

    overflow-x: hidden;
    overflow-y: auto;
}

.add-blocks-panel-container * {
    user-select: none;
}

.add-blocks-panel-container div {
    cursor: pointer;
}

.add-blocks-panel-container .building-mode {
    height: 3rem;
    width: 100%;

    display: flex;
    align-items: center;

    border-bottom: #21262D solid 0.5pt;
}

.add-blocks-panel-container .building-mode button {
    transition: background-color 250ms ease-in-out;
}

.add-blocks-panel-container .building-mode button {
    cursor: pointer;

    background: none;
    color: aliceblue;
    border: none;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.add-blocks-panel-container .building-mode .active {
    background-color: #21262D;
}

.add-blocks-panel-container .building-mode button {
    border-left: #21262D solid 0.5pt;
}

.flowchart-board {
    height: 100%;
}

.block-container {
    width: fit-content;
    height: fit-content;
}

.flowchart-block {
    padding: 1rem;
    min-width: 5rem;
    min-height: 2rem;
    border-radius: 0.5rem;

    width: fit-content;
    height: fit-content;

    background-color: aliceblue;
    color: #0D1117;

    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    border-radius: 3rem;
}

.process {
    /* nothing currently */
}

.decision {
    transform: rotate(45deg) scale(75%);

    aspect-ratio: 1/1;
}

.decision * {
    transform: rotate(-45deg) scale(125%);
}

.input-output {
    transform: skew(-15deg);
}

.input-output * {
    transform: skew(15deg);
}

.circle {
    width: 1rem;
    height: 1rem;

    background-color: aliceblue;
    border: #0D1117 2pt solid;

    position: absolute;
    top: 90%;
    border-radius: 100%;
}

.draggable {
    position: absolute;
}