@media screen and (orientation: portrait) {
    .main-content {
        display: flex;
        flex-direction: column-reverse;

        overflow: hidden;
    }

    .add-blocks-panel-container {
        border-top: #21262D solid 0.5pt;
        box-shadow: var(--shadow-deviation-high);
    }

    .add-blocks-panel {
        padding: 0;
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}