.main-content {
    height: calc(100dvh - 5rem - 0.5pt);

    display: grid;
    grid-template-columns: max-content 7fr;

    overflow: hidden;
}

.title {
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: 5rem;
    background-color: #010409;
    border-bottom: #21262D solid 0.5pt;

    box-shadow: var(--shadow-down-high);
}

.title h1 {
    width: 43%;
    padding-left: 2%;
    display: flex;
    background-color: #010409;
}

.title>.title-mobile-button {
    display: none;
}

.title .credit-button {
    width: 5%;
    margin-left: 38%;
    margin-right: 2%;
    height: 100%;
    background-color: transparent;
    color: aliceblue;
    border: none;
    cursor: pointer;
    background-color: #010409;
}

.title .credit-button:hover h2 {
    text-decoration: underline aliceblue 2pt;
}

.title .credit-button h2 {
    width: fit-content;
    margin-left: auto;
}

.run-button,
.save-revert-button,
.import-export-button {
    width: max(5%, 4rem);
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-color: #010409;
}

.import-export-button::after {
    pointer-events: none;
    content: '';
    background-color: #010409;
    position: absolute;
    left: 100%;
    height: 100%;
    width: 5rem;
}

.save-revert-button,
.import-export-button {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.save-revert-button *,
.import-export-button * {
    pointer-events: none;
}

.save-revert-container,
.import-export-container {
    pointer-events: none;
    z-index: -1;
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 100%;
}

.save-button,
.revert-button,
.import-button,
.export-button {
    pointer-events: all;
    z-index: 100;

    -moz-user-select: none;
    user-select: none;
    cursor: pointer;

    margin-top: 0.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    color: aliceblue;
    border: 0.5pt #21262D solid;
    background-color: #010409;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-down-medium);

    translate: 0 -500%;

    padding: 0.5rem;
}

.save-button,
.import-button {
    transition: transform 500ms ease-out;
}

.revert-button,
.export-button {
    transition: transform 750ms ease-out;
}

.show-buttons>.save-button,
.show-buttons>.revert-button,
.show-buttons>.import-button,
.show-buttons>.export-button {
    transform: translateY(500%);
}

.running-button {
    cursor: default;
    opacity: 0.5;
}

.add-blocks-panel-container {
    overflow: hidden;
    background-color: #010409;

    border-right: #21262D solid 0.5pt;
    box-shadow: var(--shadow-right-high);
}

.add-blocks-panel {
    height: calc(100% - 3rem);
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    gap: 1rem;

    overflow-x: hidden;
    overflow-y: auto;
}

.add-blocks-panel-container * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-blocks-panel-container>.add-blocks-panel>div {
    cursor: pointer;
}

.add-blocks-panel-container .building-mode {
    height: 3rem;
    width: 100%;

    display: flex;
    align-items: center;

    border-bottom: #21262D solid 0.5pt;
}

.add-blocks-panel-container .building-mode button {
    cursor: pointer;

    background: none;
    color: aliceblue;
    border: none;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms ease-in-out;
}

.add-blocks-panel-container .building-mode button>svg {
    height: 100%;
}

.add-blocks-panel-container .building-mode button .active {
    display: none;
}

.add-blocks-panel-container .building-mode>.active {
    background-color: #21262D;
}

.add-blocks-panel-container .building-mode .active .inactive {
    display: none;
}

.add-blocks-panel-container .building-mode .active .active {
    display: block;
}

.add-blocks-panel-container .building-mode button {
    border-left: #21262D solid 0.5pt;
}

.flowchart-board-container {
    overflow: scroll;
    height: 100%;
}

.flowchart-board {
    width: 150rem;
    height: 150rem;

    position: relative;
    transform-origin: top left;
}

.block-container {
    width: fit-content;
    height: fit-content;
    transition: outline 100ms ease-in-out;
}

.sidebar-block-container {
    width: fit-content;
    height: fit-content;
}

.flowchart-block {
    padding: 1rem;
    min-width: 5rem;
    min-height: 2rem;
    border-radius: 0.5rem;

    width: fit-content;
    height: fit-content;

    background-color: aliceblue;
    color: #0D1117;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    position: relative;

    box-shadow: var(--shadow-down-medium);
    transition: outline 100ms ease-in-out;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.posAbs {
    position: absolute;
}

.flowchart-block input {
    width: 5rem;
    height: 2rem;
    border-radius: 0.5rem;
    border: #0D1117 solid 2pt;
    background-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
}

.flowchart-block .active {
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.terminal {
    border-radius: 3rem;
}

.process {
    /* nothing currently */
}

.decision {
    transform: rotate(45deg) scale(75%);

    aspect-ratio: 1/1;
}

.decision-connection {
    box-shadow: -0.30rem 0.30rem 1rem #ba2b2b, 0.30rem -0.30rem 1rem #29964a;
}

.decision * {
    transform: rotate(-45deg) scale(125%);
}

.input-output {
    transform: skew(-15deg);
}

.input-output * {
    transform: skew(15deg);
}

[data-flowchart-block-input-output-label] {
    pointer-events: none;
}

.yes-no-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;

    transform: rotate(-45deg) scale(150%);

    height: 100;
}

.yes-no-container * {
    transform: rotate(180deg);
}

.circle {
    width: 1rem;
    height: 1rem;

    background-color: aliceblue;
    border: #0D1117 2pt solid;

    position: absolute;
    top: 90%;
    border-radius: 100%;
}

input[type=file]::file-selector-button {
    content: '';
    background-color: transparent;
    border: transparent;
}

input[type=file] {
    padding: 2rem;
    background: transparent;
    border-radius: 1rem;
    border: #0D1117 2pt dashed;
}

input[type=file]::file-selector-button {
    margin-right: 0.25rem;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
}

.draggable {
    position: absolute;
}

.outline {
    outline-offset: 0.25rem;
    outline: 0.35rem solid #1c98d2 !important;
}

.leader-line {
    z-index: -1;
}